[archive]
build_output_dir = 'Built'
archive_location = '\\nirvana\Measurements\VeriStandAddons\niveristand-custom-device-development-tools'

[projects.lv_memory_manager]
path = 'lv-memory-manager\LabVIEW Memory Manager.lvproj'

[projects.inline_async_api]
path = 'inline-async-api\Source\Project.lvproj'

[projects.advanced_sysdef_api]
path = 'advanced-sysdef-api\Source\Advanced System Definition API.lvproj'

[projects.error_api]
path = 'error-api\Source\VeriStand Error API.lvproj'

[projects.import_export]
path = 'import-export\Source\VeriStand Custom Device Import Export Tool.lvproj'

[[build.steps]]
name = 'LabVIEW Memory Manager'
type = 'lvBuildSpec'
project = '{lv_memory_manager}'
target = 'My Computer'
build_spec = 'Build Source'

[[build.steps]]
name = 'Inline Async API'
type = 'lvBuildSpec'
project = '{inline_async_api}'
target = 'My Computer'
build_spec = 'Move Source'

[[build.steps]]
name = 'Advanced SysDef API'
type = 'lvBuildSpec'
project = '{advanced_sysdef_api}'
target = 'My Computer'
build_spec = 'Move Source'

[[build.steps]]
name = 'Error API'
type = 'lvBuildSpec'
project = '{error_api}'
target = 'My Computer'
build_spec = 'Move Source'

[[build.steps]]
name = 'Import Export'
type = 'lvBuildSpec'
project = '{import_export}'
target = 'My Computer'
build_spec = 'Move Source'

[package]
type = 'nipkg'
payload_dir = 'Built'
install_destination = 'ni-paths-LV{labview_version}DIR'
